@{
    ViewBag.Title = "Upload Sets";
}

<p>&nbsp;</p>
<p>&nbsp;</p>

<span class="btn btn-sm btn-primary pull-right">Add Scheduled Upload</span>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Server</th>
        <th>Workstation</th>
        <th>Workstation IP Address</th>
        <th>Scheduled Time</th>
        <th>Status</th>
        <th>Video Count</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1000</td>
        <td>192.168.1.1</td>
        <td>domain\work023</td>
        <td>192.179.4.2</td>
        <td>2015-01-12 09:00:00</td>
        <td>Done</td>
        <td>40</td>
        <td><a href="#" class="glyphicon glyphicon-eye-open" title="view details"></a>
            <a href="#" class="glyphicon glyphicon-remove" title="cancel upload"></a>
        </td>
    </tr>
    <tr>
        <td>1010</td>
        <td>192.168.1.1</td>
        <td>domain\work023</td>
        <td>192.179.4.2</td>
        <td>2015-01-12 09:00:00</td>
        <td>Pending</td>
        <td>0</td>
        <td><a href="#" class="glyphicon glyphicon-eye-open" title="view details"></a>
            <a href="#" class="glyphicon glyphicon-remove" title="cancel upload"></a>
        </td>
    </tr>
</table>