@{
    ViewBag.Title = "Disk Space & Location";
}

<p>&nbsp;</p>
<p>&nbsp;</p>

<span class="btn btn-sm btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> Add Disk Location</span>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Storage Path</th>
        <th>Space Available</th>
        <th>Space Used</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>\\Tactical Videos\</td>
        <td>210gb</td>
        <td>80gb</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit details"></a>
            <a class="glyphicon glyphicon-remove" title="remove"></a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>C:\docs\</td>
        <td>210gb</td>
        <td>80gb</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit details"></a>
            <a class="glyphicon glyphicon-remove" title="remove"></a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>192.168.1.1\c$\videos\</td>
        <td>210gb</td>
        <td>80gb</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit details"></a>
            <a class="glyphicon glyphicon-remove" title="remove"></a>
        </td>
    </tr>
</table>