@{
    ViewBag.Title = "Users";
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Police No</span>
                        <input type="text" class="form-control" id="txt_police_no" name="txt_police_no">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Police Name</span>
                        <input type="text" class="form-control" id="txt_police_name" name="txt_police_name">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">Role</span>
                        <select class="form-control" id="sel_dept" name="sel_dept">
                            <option value="">select role</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Department</span>
                        <select class="form-control" id="sel_dept" name="sel_dept">
                            <option value="">select department</option>
                        </select>
                    </div>
                    <input type="checkbox" id="chk_sub_depts" /> Include Sub Departments
                    <br />
                    <span class="btn btn-sm btn-primary pull-right">search</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="head1 grad2">
    Search Results
    <span class="btn btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Add New User</span>
</div>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Police No</th>
        <th>Police Name</th>
        <th>Device No</th>
        <th>Department</th>
        <th>Telephone #</th>
        <th>Working Status</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>1</td>
        <td>09099</td>
        <td>Bob Dylan</td>
        <td>902922</td>
        <td>Human Resources</td>
        <td>512-902-8484</td>
        <td>On Duty</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit user"></a>
            <a class="glyphicon glyphicon-remove" title="remove user"></a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>09099</td>
        <td>Bob Dylan</td>
        <td>902922</td>
        <td>Human Resources</td>
        <td>512-902-8484</td>
        <td>On Duty</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit user"></a>
            <a class="glyphicon glyphicon-remove" title="remove user"></a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>09099</td>
        <td>Bob Dylan</td>
        <td>902922</td>
        <td>Human Resources</td>
        <td>512-902-8484</td>
        <td>On Duty</td>
        <td>
            <a class="glyphicon glyphicon-pencil" title="edit user"></a>
            <a class="glyphicon glyphicon-remove" title="remove user"></a>
        </td>
    </tr>
</table>