<div class="navbar navbar-default navbar-static-top grad1">
    <div class="container">
        <a href="~/home/" class="navbar-brand"><img src="~/images/logo.png" class="logo" /></a>
        <h4>Digital Evidence Management System</h4>
    </div>
</div>


