<div class="navbar navbar-default navbar-static-top grad1">
    <div class="container">
        
        <a href="~/home/" class="navbar-brand"><img src="~/images/logo.png" class="logo" /></a>
        <h4>Digital Evidence Management System</h4>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/videos/search">Search</a></li>
                        <li><a href="~/videos/fileupload">File Upload</a></li>
                        <li><a href="~/videos/uploadset">Upload Sets</a></li>
                        <li><a href="~/videos/devices">Devices</a></li>
                        <li><a href="~/videos/previewparams">Preview Parameters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/reports/implevel">Importance Level</a></li>
                        <li><a href="~/reports/timeperiod">Time Period</a></li>
                        <li><a href="~/reports/policestats">Police Statistics</a></li>
                        <li><a href="~/reports/downloads">Downloads</a></li>
                        <li><a href="~/reports/syslog">System Log</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Permissions <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/permissions/rights">User rights</a></li>
                        <li><a href="~/permissions/users">User Management</a></li>
                        <li><a href="~/permissions/pwd">Change Password</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Storage <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/storage/servers">Servers</a></li>
                        <li><a href="~/storage/cloudspace">Cloud Space</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Office <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/office/depts">Departments</a></li>
                        <li><a href="~/office/workstations">Workstations</a></li>
                    </ul>
                </li>
                <li><a href="~/account/login?logout=1" data-toggle="modal">Log Out</a></li>
            </ul>
        </div>
    </div>
</div>